*{
    padding:0px;
    margin: 0px;

}
body{

}
header{
    background: #415e9b;height: 82px;
    border-bottom: 1px solid #133783;

}
h1 {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 38px;
    letter-spacing:0.05px;
    margin: 0;
    color:#fff;
    -webkit-font-smoothing: antialiased;
}
.logowrapper { padding-top: 10px;
    padding-bottom: 20px;


}
.header-block{
    width: 992px;
    margin: 0 auto;
    padding-top:20px ;

}
.logo{
    width: 50%;
    float: left;

}
.facebook-login{
    width: 50%;
    float: left;
}
.header-block label{
    color:black ;

}
.email{
    flex: column;

}
.email label{
    padding-bottom: 10px;

}
.email input[type="text"]{
    height: 20px;
    width: 200px;
    border: 1px solid #1d2a5b;
}
.password{
    float: left;
    margin-left:15px ;
}
.password input[type="password"]{
    height: 20px;
    width: 200px;
    border: 1px solid #1d2a5b;
}
.password label{
    padding-bottom: 10px;
}
.login-button{
    float: left;
}
